# Shared Railway variables for all 3 app services:
# - carpooling-api
# - carpooling-mail-worker
# - carpooling-sms-worker

NODE_ENV=production

# Managed Railway services
DATABASE_URL=${{Postgres.DATABASE_URL}}
REDIS_URL=${{Redis.REDIS_URL}}

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=startfinder2@gmail.com
MAIL_PASS=yagxmnmiikqimkqy
MAIL_FROM="Carpooling App <starfinder706@gmail.com>"
JWT_SECRET=your_jwt_secret_key
GOOGLE_MAPS_API_KEY=AIzaSyDaHQ7kneiL5uOlaXyI44PPhAtoAR93Oxo
NODE_ENV=production
PORT=3000
ACCESS_TOKEN_SECRET ="ACCESS_TOKEN_SECRET"
REFRESH_TOKEN_SECRET="REFRESH_TOKEN_SECRET"
DATABASE_URL="postgresql://myuser:mypass@localhost:5433/my_db?schema=public"

# AWS S3 Configuration
TWILIO_ACCOUNT_SID="ACadbd24109da9f70cbeff4b91293cc559"
TWILIO_AUTH_TOKEN="1d44994c1d2614f18ea5383fe6e5d71c"
TWILIO_PHONE_NUMBER="+19789177768"
AWS_ACCESS_KEY_ID=AKIA2PJWCD6DRGMF4ZOO
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=eu-north-1
AWS_S3_BUCKET_NAME=carpoolingimage
FIREBASE_SERVICE_ACCOUNT_PATH="./carpooling-37720-firebase-adminsdk-fbsvc-26fe9c4eaf.json"
GOOGLE_APPLICATION_CREDENTIALS=""

